Package: apsim
Version: @Version
Section: science
Architecture: all
Priority: optional
Maintainer: APSIM Initiative <apsim@csiro.au>
Homepage: www.apsim.info
Installed-Size: @Size
Depends: gtk-sharp3, sqlite3, libgtksourceview-4-0
Description: The Agricultural Production Systems Simulator.
 The Agricultural Production Systems sIMulator (APSIM) is internationally recognised 
 as a highly advanced simulator of agricultural systems. It contains a suite of modules 
 which enable the simulation of systems that cover a range of plant, animal, soil, 
 climate and management interactions.
