
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/Docs/html
/Models/AssemblyVersion.cs
*MaizeTestModel*
Documentation/html
packages/
Tests/MultiZoneManagement/MultiFieldMultiZoneManagementBasic.db.sum
*.sum
Documents/
Prototypes/SCRUM/Obs/
Prototypes/SCRUM/.ipynb_checkpoints/ParameterListBuilder-checkpoint.ipynb
Prototypes/SCRUM/Crop.xml
Prototypes/SCRUM/SCRUM.apsimx.orig
Prototypes/Grapevine/Observations/PhenoDataObservation - Copy.xlsx
lib/
.vs/
.Rproj.user
Docs/.Rhistory
Documentation/errors.txt
*.db
*.db-journal
*.db-shm
*.db-wal
NetCoreBin/
Docs/docfx/api/*.yml
Docs/docfx/api/.manifest
Docs/apsimx-docs/
Prototypes/Pinus/Pinus.pdf
ActivitiesPerformedSummary.html
LabourAllocationSummary.html
CurrentDescriptiveSummary.html
/Docs/.hugo_build.lock
Tools/TestSuiteScrapper/Properties/launchSettings.json
launchSettings.json
/testEnvironments.json
.mono
ApsimX.xml
/ApsimNG/Resources/TreeViewImages/Lentil.png
/Prototypes/DEROPAPY/.ipynb_checkpoints/DeroParamCheck-checkpoint.ipynb
/Prototypes/DEROPAPY/DeroParamCheck.ipynb
/Prototypes/DEROPAPY/SimulationNotes.docx
/Prototypes/DEROPAPY/hemp temp.xlsx
/Prototypes/Lentil/.ipynb_checkpoints/Analysis-checkpoint.ipynb
/Prototypes/Lentil/Analysis.ipynb
/Prototypes/Lentil/ExNeil/LentilNextGen/35147_CombGSE_Emerald.met
/Prototypes/Lentil/ExNeil/LentilNextGen/41025_CombGSE_Dunmore.met
/Prototypes/Lentil/ExNeil/LentilNextGen/41069.sim
/Prototypes/Lentil/ExNeil/LentilNextGen/42011_CombGSE_GlenAlvon.met
/Prototypes/Lentil/ExNeil/LentilNextGen/50052_CombGSE_Condobolin.met
/Prototypes/Lentil/ExNeil/LentilNextGen/51049_CombGSE_Trangie.met
/Prototypes/Lentil/ExNeil/LentilNextGen/51050_CombGSE_Urawilkie.met
/Prototypes/Lentil/ExNeil/LentilNextGen/52020_CombGSE_Mungindi.met
/Prototypes/Lentil/ExNeil/LentilNextGen/52026_CombGSE_Walgett.met
/Prototypes/Lentil/ExNeil/LentilNextGen/53033_CombGSE_Pallamallawa.met
/Prototypes/Lentil/ExNeil/LentilNextGen/55024_CombGSE_Gunnedah.met
/Prototypes/Lentil/ExNeil/LentilNextGen/55275_Breeza_aplhaLT.met
/Prototypes/Lentil/ExNeil/LentilNextGen/73127_CombGSE_Wagga.met
/Prototypes/Lentil/ExNeil/LentilNextGen/74094_CombGSE_Barellan.met
/Prototypes/Lentil/ExNeil/LentilNextGen/76077_CombGSE_Mildura.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Ayr.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Beverley.met
/Prototypes/Lentil/ExNeil/LentilNextGen/CaragabalPO.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/1710_whish_PhenologicalDevelopmentOfChickpeaLentil.pptx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Archived and unmodified/AP Edits Emerald 190414 Chickpea.Lentil Adaptation project_Trial Book_CQ2019.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Archived and unmodified/APEdits Caragabal KA19-0089 SNSW Pulse Adaptation Progress Report.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Archived and unmodified/Emerald_Ag_College-20190101-20191129-Yz8iRO.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Archived and unmodified/GattonFarm2019 weather.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Archived and unmodified/PhenologySum.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Archived and unmodified/TT detailed data.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Caragabal/APEdits Caragabal KA19-0089 SNSW Pulse Adaptation Progress Report EM_RevisedFlrPodDate.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Caragabal/EM Caragabal soils April 2019.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Caragabal/EM Version of APEdits Caragabal KA19-0089 SNSW Pulse Adaptation Progress Report.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Emerald/EM version of AP Edits Emerald 190414 Chickpea.Lentil Adaptation project_Trial Book_CQ2019.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Emerald/Emerald Tinytag at crop height.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Emerald/Emerald_Ag_College weather data.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Gatton/EM AllPulseData 3Feb20_GattonPhenologyTrial_Lentils.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Greenethorpe/EM AP Soil_Water_Greenethorpe_2019.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Greenethorpe/EM AllPulseData 3Feb20_GreenethorpePhenologyTrial_Lentils.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Greenethorpe/EM Greenethorpe Pulse Trial DATA 2019.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Mildura/EM version of AP Edits Mildura 2019.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Millmerran/CSIRO Plant Agronomic Data 2019 - Peter.doc
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Millmerran/EM AP_Millmerran.xls
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Millmerran/SoilAnalysis20200211_InitSW.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/PhenologySum_mod.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Dooen Dry.out
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Dooen Wet.out
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Lentil.DR.xml
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Lentils Extras.2120.sims
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Lentils Extras.7332.sims
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Lentils Extras.9468.sims
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Lentils Extras_ORIG.apsim
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Lentils Extras_ORIG.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Lentils Extras_v1.apsim
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Lentils Extras_v1.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Lentils.obs.out
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/RodriguezObsData.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/Soil.obs.out
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Rodriguez 15 Jan 2020 APSIM Classic Lentil/beulah.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Soils_JW/FS_Soils.apsim
/Prototypes/Lentil/ExNeil/LentilNextGen/Data/Walgett/EM AP EditsCombined TOS Walgett 2019.xls
/Prototypes/Lentil/ExNeil/LentilNextGen/EM Greenethorpe Pulse Trial DATA 2019.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Elvas.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Emer89.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Emerald2019Combo.met
/Prototypes/Lentil/ExNeil/LentilNextGen/GattonUQ.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Gorgan.met
/Prototypes/Lentil/ExNeil/LentilNextGen/GreenethorpeSILO.met
/Prototypes/Lentil/ExNeil/LentilNextGen/GreenethorpeTTagTemp.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Herm8889.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Herm90.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Herm92.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Hyderabad.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Kununurra.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v1.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v10.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v11.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v12.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v13.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v14.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v15.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v16.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v16_CutDownForPeteDeVoil.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v17_v5133.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v17_v5133.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v1_checkRun.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v2.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v3.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v4.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v5.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v6.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v7.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v8.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lentil_v9.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/Lincoln.met
/Prototypes/Lentil/ExNeil/LentilNextGen/MildurahPO.met
/Prototypes/Lentil/ExNeil/LentilNextGen/MillmerranPO.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Observed for daniel.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Observed.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/PAT.MET
/Prototypes/Lentil/ExNeil/LentilNextGen/Soltani Phenology Graph.xlsx
/Prototypes/Lentil/ExNeil/LentilNextGen/Tamworth.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Terbol.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Walgett.met
/Prototypes/Lentil/ExNeil/LentilNextGen/Windr.met
/Prototypes/Lentil/ExNeil/LentilNextGen/beulah.met
/Prototypes/Lentil/ExNeil/LentilNextGen/biloela.met
/Prototypes/Lentil/ExNeil/LentilNextGen/bremar2.met
/Prototypes/Lentil/ExNeil/LentilNextGen/cooper.met
/Prototypes/Lentil/ExNeil/LentilNextGen/exampleFromNH_ResetSW.apsimx
/Prototypes/Lentil/ExNeil/LentilNextGen/kulai2.met
/Prototypes/Lentil/ExNeil/README.docx
/Prototypes/Lentil/ExNeil/lentil phenology/Lentil_v17_v5133.xlsx
/Prototypes/Lentil/Met/35147_CombGSE_Emerald.met
/Prototypes/Lentil/Met/41025_CombGSE_Dunmore.met
/Prototypes/Lentil/Met/42011_CombGSE_GlenAlvon.met
/Prototypes/Lentil/Met/50052_CombGSE_Condobolin.met
/Prototypes/Lentil/Met/51049_CombGSE_Trangie.met
/Prototypes/Lentil/Met/51050_CombGSE_Urawilkie.met
/Prototypes/Lentil/Met/52020_CombGSE_Mungindi.met
/Prototypes/Lentil/Met/52026_CombGSE_Walgett.met
/Prototypes/Lentil/Met/53033_CombGSE_Pallamallawa.met
/Prototypes/Lentil/Met/55024_CombGSE_Gunnedah.met
/Prototypes/Lentil/Met/55275_Breeza_aplhaLT.met
/Prototypes/Lentil/Met/73127_CombGSE_Wagga.met
/Prototypes/Lentil/Met/74094_CombGSE_Barellan.met
/Prototypes/Lentil/Met/76077_CombGSE_Mildura.met
/Prototypes/Lentil/Met/Ayr.met
/Prototypes/Lentil/Met/Beverley.met
/Prototypes/Lentil/Met/CaragabalPO.met
/Prototypes/Lentil/Met/Elvas.met
/Prototypes/Lentil/Met/Emer89.met
/Prototypes/Lentil/Met/Emerald2019Combo.met
/Prototypes/Lentil/Met/GattonUQ.met
/Prototypes/Lentil/Met/Gorgan.met
/Prototypes/Lentil/Met/GreenethorpeSILO.met
/Prototypes/Lentil/Met/GreenethorpeTTagTemp.met
/Prototypes/Lentil/Met/Herm8889.met
/Prototypes/Lentil/Met/Herm90.met
/Prototypes/Lentil/Met/Herm92.met
/Prototypes/Lentil/Met/Hyderabad.met
/Prototypes/Lentil/Met/Kununurra.met
/Prototypes/Lentil/Met/Lincoln.met
/Prototypes/Lentil/Met/MildurahPO.met
/Prototypes/Lentil/Met/MillmerranPO.met
/Prototypes/Lentil/Met/PAT.MET
/Prototypes/Lentil/Met/Roseworthy.met
/Prototypes/Lentil/Met/Tamworth.met
/Prototypes/Lentil/Met/Terbol.met
/Prototypes/Lentil/Met/Walgett.met
/Prototypes/Lentil/Met/Windr.met
/Prototypes/Lentil/Met/beulah.met
/Prototypes/Lentil/Met/biloela.met
/Prototypes/Lentil/Met/bremar2.met
/Prototypes/Lentil/Met/cooper.met
/Prototypes/Lentil/Met/kulai2.met
/Prototypes/Lentil/ObservedExNeil.xlsx
/Prototypes/Lentil/apsimObs.xlsx
/Prototypes/Lentil/lit/Book.pdf
/Prototypes/Lentil/lit/Effects of temperature and photoperiod.pdf
/Prototypes/Lentil/lit/Environmental crop of lentil crop development.pdf
/Prototypes/Lentil/lit/Lake&Sadras.pdf
/Prototypes/Lentil/lit/Photothermal time for flowering in lentils.pdf
/Prototypes/Lentil/lit/Stages of development in lentil.pdf
/Prototypes/Lentil/lit/bookChapter.pdf
/Prototypes/STRUM/‘Hass’ avocado tree water use and the effects of water stress on fruit development.pdf
