<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--<add key="OxyPlot latest" value="https://www.myget.org/F/oxyplot" />-->
    <add key="OxyPlot custom" value="/home/drew/code/oxyplot-gtksharp/Source/OxyPlot.GtkSharp3/bin/Debug" />
  </packageSources>
</configuration>
