<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Temporarily use my myget feed to give access to OxyPlot.GtkSharp3 and SourceView
	until new releases of these packages are available on nuget.org. -->
	<add key="hol430" value="https://www.myget.org/F/hol430" />
  </packageSources>
</configuration>
