Package: apsim
Version: 
Section: science
Architecture: all
Priority: optional
Maintainer: APSIM Initiative <apsim@csiro.au>
Homepage: www.apsim.info
Installed-Size: 
Depends: gtk-sharp2 (>=2.12), libwebkitgtk-1.0-0, mono-runtime (>=4.0), mono-devel (>=4.0), sqlite3, libcanberra-gtk-module
Description: The Agricultural Production Systems Simulator.
 The Agricultural Production Systems sIMulator (APSIM) is internationally recognised 
 as a highly advanced simulator of agricultural systems. It contains a suite of modules 
 which enable the simulation of systems that cover a range of plant, animal, soil, 
 climate and management interactions. 
