<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://bob.apsim.info/APSIM.Build.Service/Builds.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuildProvider"
                contract="BuildService.IBuildProvider" name="BasicHttpBinding_IBuildProvider" />
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBuildProvider" />
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>
