# Ignore R and Pipeline Meta Files
.Rhistory
.RData
.Ruserdata
_targets/
.db
.db-shm
.db-wal
.nb.html

# Ignore metadata
ListOfVariablesToCheck.xlsx
InputFilesFromCloud/

# Ignore all .apsimx files in all folders EXCEPT the ones located in this exact root directory
*.apsimx
!/*.apsimx