#content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 5px;
}

#left 
{
    width:50%;
    float:left;
}

#right
{
    width:50%;
    float:right;
}

body {
  background: -webkit-linear-gradient(white, #CDD4DE 10%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #CDD4DE 10%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #CDD4DE 10%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #CDD4DE 10%); /* Standard syntax */
} 

tr:first-child td {
    vertical-align:top;
    background-color:#3AF21E;
	font-weight: bold;
}

table {
    border-collapse: collapse;
}

table, td, tr {
   border: 1px solid black;
} 

td {
    text-align: center;
	padding: 5px;
}

h1 
{
    color:#365F91;
}

h2
{
    color:#4F81BD;
}