#content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 5px;
}

#left 
{
    width:50%;
    float:left;
}

#right
{
    width:50%;
    float:right;
}

body {
  font-family: "Trebuchet MS", Arial, sans-serif;
} 

table {
    border-collapse: collapse;
}

table, td, tr {
   border: 0px solid black;
} 

td {
    text-align: center;
	padding: 5px;
}
