#toc {
  border-style: none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: medium;
}
body {
  background: white url(ApsruTile.jpg) repeat-y scroll left top;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  color: black;
  padding-left: 70px;
  text-align: left;
}
p {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  color: black;
}
table {
  border: 1px solid #cccccc;
  font-size: 9pt;
  font-family: Arial,Helvetica,sans-serif;
  border-collapse: collapse;
  text-align: center;
  color: black;
}
h1 {
  text-align: center;
  color: SteelBlue;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 24pt;
}
h2 {
  border-color: SteelBlue;
  border-bottom-style: inset;
  text-align: left;
  font-size: 18pt;
  margin-top: 50px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color: SteelBlue;
  font-weight: bold;
}
h3 {
  border-style: none none solid;
}
h5 {
  font-size: small;
}
h6 {
  font-size: small;
}
.menu {
  background-color: #016ea7;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  color: yellow;
  width: 100%;
  height: 50px;
  margin-left: -14px;
  margin-top: -8px;
  margin-bottom: 20px;
}
.menulink {
  color: white;
}
.newsdate {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 7pt;
  color: blue;
}
td {
  border: 1px solid #cccccc;
  font-family: "Courier New",Courier,monospace;
  font-size: small;
}
