/*
 * Globals
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
}

h1, .h1,
h2, .h2 {
  border-bottom: 1px solid #eee;
}

/* Override Bootstrap's style not to break line in code blocks */
pre {
    overflow: auto;
    word-wrap: normal;
    border-style: none;
    border-radius: 0;
    padding: 0;
    margin: 0 0 10px;
}
pre code {
    white-space: pre;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*
 * Header navbar
 */

/* To override Bootstrap's form-control style */
.doc-search-input-text {
  font-size: 14px;
  line-height: 20px;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.doc-search-input-text:focus {
  border: 1px solid #ffff99;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.doc-search-input-text::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.doc-search-input-text:-ms-input-placeholder {
  color: #999;
}
.doc-search-input-text::-webkit-input-placeholder {
  color: #999;
}
.doc-search-input-text::-ms-expand {
  background-color: transparent;
  border: 0;
}

div.doc-search-form {
  border-radius: 4px;
}
.doc-search-input-btn {
  padding: 0;
}
.doc-search-input-btn > button {
  padding: 5px 10px;
}

/*
 * Main column and sidebar layout
 */

.doc-main {
  font-size: 18px;
  line-height: 1.5;
}

.doc-main pre code {
  font-size: 14px;
}
div.doc-main {
  margin-bottom: 20px;
}

/* List items */
.doc-list-header {
  padding-bottom: 0px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.doc-entry {
  color: #666;
}
.doc-entry-title {
  color: #666;
}
.doc-entry-meta {
  font-style: italic;
  text-align: right;
  color: #999;
}
.doc-entry-meta.in-list {
  font-size: 80%;
}
span.doc-list-category {
  font-style: italic;
  background-color: #f5f5ff;
}
ul.doc-list-category > li {
  font-size: 20px;
}
ul.doc-list-category > li > ul > li {
  font-size: 18px;
  font-style: normal;
}

/* Tables */
main > article > section > table {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

main > article > section > table > thead > tr > th,
main > article > section > table > tbody > tr > th,
main > article > section > table > tfoot > tr > th,
main > article > section > table > thead > tr > td,
main > article > section > table > tbody > tr > td,
main > article > section > table > tfoot > tr > td {
  padding: 8px;
  font-size: 16px;
  line-height: 1.4;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

main > article > section > table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

main > article > section > table > caption + thead > tr:first-child > th,
main > article > section > table > colgroup + thead > tr:first-child > th,
main > article > section > table > thead:first-child > tr:first-child > th,
main > article > section > table > caption + thead > tr:first-child > td,
main > article > section > table > colgroup + thead > tr:first-child > td,
main > article > section > table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
main > article > section > table > tbody + tbody {
  border-top: 2px solid #ddd;
}

main > article > section > table > thead > tr > th,
main > article > section > table > tbody > tr > th,
main > article > section > table > tfoot > tr > th,
main > article > section > table > thead > tr > td,
main > article > section > table > tbody > tr > td,
main > article > section > table > tfoot > tr > td {
  border: 1px solid #ddd;
}
main > article > section > table > thead > tr > th,
main > article > section > table > thead > tr > td {
  border-bottom-width: 2px;
}
main > article > section > table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

/*
 * Sidebar
 */
@media (min-width: 1200px) {
  div#sidebar {
  }
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 0px 15px 5px;
  margin: 0 -15px 15px;
}
.sidebar-heading {
  border-bottom: 1px solid #eee;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.sidebar-toc ul li {
  list-style-type: none;
  list-style-position: outside;
  margin-left: -1.5em;
  padding: 0;
}

ul.sidebar-category-list > li {
  list-style-type: none;
  margin-left: -1.5em;
  font-size: 15px;
}
ul.sidebar-category-list > li,
ul.sidebar-category-list > li > ul > li {
  list-style-position: outside;
  padding: 0;
}
ul.sidebar-category-list > li > ul > li {
  font-size: 14px;
  font-style: normal;
}
ul.sidebar-category-list > li > ul > li > span.active {
  color: #999;
  font-weight: 500;
}

.tag-box {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
}
.tag-item {
  margin: 5px;
  padding: 2px 5px;
  border-radius: 4px;
  line-height: 2;
  background-color: #ffffff;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Footer
 */

.doc-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.doc-footer p:last-child {
  margin-bottom: 0;
}
.doc-footer-em {
  font-size: 16px;
}
