<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBuildProvider" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bob.apsim.info/APSIM.Build.Service/Builds.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuildProvider"
                contract="BuildService.IBuildProvider" name="BasicHttpBinding_IBuildProvider" />
        </client>
    </system.serviceModel>
</configuration>
