<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.75.0" targetFramework="net4" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net4" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net4" />
  <package id="ICSharpCode.NRefactory" version="5.4.0" targetFramework="net4" />
  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" targetFramework="net4" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net4" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net4" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net4" />
  <package id="OxyPlot.Core" version="2014.1.464" targetFramework="net4" />
  <package id="OxyPlot.WindowsForms" version="2014.1.464" targetFramework="net4" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.3638-beta" targetFramework="net4" />
</packages>