.docs-wrapper {
    font-family: 'Montserrat', Arial, sans-serif;
    width: 1000px;
    height: auto;
    overflow:visible;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
}

.docs-content {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.docs-img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.docs-table-container {
	width: 100%;
	overflow: auto;
	overflow-y: hidden;
}

.docs-table {
    margin-top: 30px;
    border: 1px solid;
    border-color: #004d47;
    margin: 0 auto;
    border-spacing: 0px;
    width: 100%;
}

.docs-th {
    background-color: #004d47;
    color: white;
}

.docs-th, .docs-td {
    margin: 0px;
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #edfdf0
}

.docs-tr:hover {
    background-color: #f4f4f4;
}

.docs-h1 {
    scroll-margin-top: 70px;
    margin-top: 30px;
}

.docs-h2 {
    padding-top: 20px;
    margin-bottom: 0px;
}

.docs-navcontainer {
	width: 1000px;
    position: fixed;
	margin: 0 auto;
}

.docs-navbar {
    background-color: white;
	margin: 0 auto;
    border-radius: 15px;
	overflow: hidden;
	border-color: #004d47;
	border-style: solid;
	border-width: 3px;
}

.docs-nav {
	float: left;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

a .docs-nav {
	color: black;
}

.docs-nav:hover {
	background-color: #f4f4f4;
}

/* Required to stop non-wrapping code tags. */
pre{
    white-space: pre-wrap;
}